@import '~@fluentui/react/dist/sass/References.scss';

.birthdayCarousel {
  .birthdayViewallAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .defaultBirthdayLabel {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    font-family: var(--fontFamilyCustomFont500, var(--fontFamilyBase));
  }

  @media screen and (max-width: 767px) {
    .defaultBirthdayLabel {
      font-size: 20px;
      line-height: 31px;
      margin-bottom: 20px;
    }

    .birthdays {
      padding: 0;
    }
  }

  .viewAll {
    color: #000000;
    border-radius: 8px;
  }

  .box {
    border-radius: 20px;
    width: calc(100% - 2px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    background-color: rgb(240, 240, 250);
  }

  .uparrow,
  .downarrow {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      span {
        i {
          font-size: 24px;
          color: #6d6e71;
        }
      }

      &:hover {
        span {
          i {
            color: #0071ce;
          }
        }
      }

      &:disabled {
        cursor: not-allowed;

        &:hover {
          span {
            i {
              color: #6d6e71;
            }
          }
        }
      }
    }
  }


  .uparrow {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .downarrow {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .customIconButton:hover {
    background-color: transparent;
  }

  .customIconButton:disabled {
    background: none;
  }

  .employee {
    display: flex;
    flex-direction: column;
    height: 412px;
    overflow: auto;
    padding: 9px 22px;

    .persondiv {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;

      &:last-child {
        border: none;
      }
    }
  }

  .Profilecard {
    display: flex;
    gap: 12px;
    cursor: pointer;

    &:hover {
      .Namecard {
        color: #0071ce;
      }
    }
  }

  .ImgContainer {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    overflow: hidden;
  }

  .Image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .secondarycard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 72px);
  }

  .Namecard {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }

  .secondarytextstyle {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    font-family: var(--fontFamilyCustomFont300, var(--fontFamilyBase));
    font-weight: 400;
  }
}