.storySection {
  padding: 40px;
  background-color: #f9f9f9;
  font-family: var(--fontFamilyCustomFont500, var(--fontFamilyBase));

  @media (max-width: 1080px) {
    align-items: flex-start;
    padding: 24px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 16px;
  }
}


.container {
  max-width: 72rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  gap: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 16px;
  }

}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.textContent {
  padding: 20px;
  width: 65%;

  @media (max-width: 1080px) {
    width: 100%;
    padding: 0;
  }

  @media (max-width: 767px) {
    text-align: center;
  }

}

.storyTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.storyImage {
  background-color: inherit;
}

.storyParagraph {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}