@import '~@fluentui/react/dist/sass/References.scss';

.imageCarousel {
  .container {
    max-width: none;
  }

  .center {
    text-align: center;

    h2 {
      color: grey;
    }
  }

  .pagetitle {
    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: 600;
  }

}