@import '~@fluentui/react/dist/sass/References.scss';

.formsAndTemplates {
  .divrow {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }

  .h1 {
    color: whitesmoke;
  }

  .card {
    background: navy;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    width: 25%;
    height: 35%;
    color: whitesmoke;
    padding: 1em;
    text-wrap: wrap;
  }

  .cardfooter {
    margin-top: 36px;
    text-align: right;
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .description {
    color: whitesmoke;
    overflow-y: auto;
    max-height: 5em;
    min-height: 5em;
  }

  .pendingStatus {
    border: 3px solid rgb(218, 144, 7);
    border-radius: 1em;
    padding: 8px;
    text-align: center;
    color: rgb(218, 144, 7);
  }

  .submitStatus {
    border: 3px solid rgb(70, 207, 7);
    border-radius: 1em;
    padding: 8px;
    text-align: center;
    color: rgb(70, 207, 7);
  }

  .date {
    padding-top: 10px;
  }
}